<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>output</title>
    </head>
    <head>
		<title>Exercices de sport</title>
		<meta charset = "utf-8">
		 <link rel="stylesheet" type="text/css" href="/static/index.css">
	</head>

	<header>
		<h3>
            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </h3> 
		<h2>
			Exercices de sport en fonction de mon objectif
		</h2>
    </header>
    <body>
        <h3> {{name}}</h3>
    <footer>
                    <br><br>
                <p>Laura Korenfeld - EPISEN - ITS2 FISA</p>
    </footer>
    </body>
    
</html>